.bubble {
	width: 15rem;
	max-width: 100%;
}

.bubble-content {
	position: absolute;
	transform: translate(-50%, -100%);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	max-width: 100%;
	text-align: center;
	color: #000000;
	overflow-wrap: break-word;
	background-color: rgba(255, 255, 255, 0.4);
	--bg-opacity: 0.4;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
	transition-duration: 500ms;
}

.bubble-content.invisible {
	opacity: 0;
}
